{% extends 'basic.html' %}
{% block title %}
Add Student
{% endblock %}

{% block content %}
<div class="container p-3">
<h2>Enter Students Details Here</h2>
    <form action="" method="post">
        {% csrf_token %}
        Name:<input type="text"  name="tbname" class="form-control" placeholder="Enter your name"><br/>
        Age:<input type="text"  name="tbage" class="form-control" placeholder="Enter your age"><br/>
        City:<input type="text"  name="tbcity" class="form-control" placeholder="Enter your city"><br/>
        Email:<input type="text"  name="tbemail" class="form-control" placeholder="Enter your email"><br/>
        Phone:<input type="text"  name="tbphone" class="form-control" placeholder="Enter your number"><br/>
        <input class="btn btn-success form-control" type="submit" value="Add Student"/>
    </form>
</div>
{% endblock %}