{% extends 'basic.html' %}
{% block title %}
Edit Student
{% endblock %}

{% block content %}
<div class="container p-3">
<h2>Update Students Details Here</h2>
    <form action="" method="post">
        {% csrf_token %}
        Name:<input type="text"  name="tbname" value="{{student.Name}}" class="form-control" placeholder="Enter your name"><br/>
        Age:<input type="text"  name="tbage" value="{{student.Age}}" class="form-control" placeholder="Enter your age"><br/>
        City:<input type="text"  name="tbcity" value="{{student.City}}" class="form-control" placeholder="Enter your city"><br/>
        Email:<input type="text"  name="tbemail" value="{{student.Email}}" class="form-control" placeholder="Enter your email"><br/>
        Phone:<input type="text"  name="tbphone" value="{{student.Phone}}" class="form-control" placeholder="Enter your number"><br/>
        <input class="btn btn-warning form-control" type="submit" value="Edit Student"/>
    </form>
</div>
{% endblock %}